@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
}

@theme inline {
	--color-accent: var(--color-emerald-400);
	--color-lines: var(--color-neutral-300);
}

@theme {
	--color-test: #dad5d0;
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: var(--color-neutral-50);
	color: var(--color-gray-900);
	font-family: var(--font-roboto, sans-serif), sans-serif, system-ui;
}
