@import "tailwindcss";

:root {
  --header-height: 108px;
  --weg-blue: #0f2146;
  --weg-dark-blue: #191f24;
}

@theme inline {
  --spacing-header: var(--header-height, 108px);
  --color-primary: var(--weg-blue, #0f2146);
  --color-secondary: var(--weg-dark-blue, #191f24);
  --color-accent: var(--color-emerald-400);
}

@theme {
  --font-display: "Inter", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --animate-zoom: zoom 12s linear;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  font-family: var(--font-roboto, sans-serif), sans-serif, system-ui;
}