---
import { type Artwork } from '@/constants/artworks';

interface Props {
	artwork: Artwork;
	artworkContent?: any;
}

const { artwork, artworkContent } = Astro.props;

let Content;
if (artworkContent) {
	const { Content: MarkdownContent } = await artworkContent.render();
	Content = MarkdownContent;
}
---

<div class="h-full bg-neutral-50" id="artwork-info">
	<div class="h-full overflow-auto py-8 pr-8 pl-12">
		{
			Content && (
				<div class="prose prose-sm prose-h2:text-base prose-h3:text-sm prose-hr:my-6 prose-p:text-sm prose-p:mb-4 prose-ul:mb-4 prose-a:text-accent hover:prose-a:underline prose-strong:font-semibold prose-ul:list-none prose-ul:p-0 prose-li:p-0 prose-li:m-0 [&_li>p]:m-0 max-w-none">
					<Content />
				</div>
			)
		}
	</div>
</div>
