---
import { type Artwork } from '@/constants/artworks';
import ArtworkDisplayHeader from './ArtworkDisplayHeader.astro';
import ArtworkDisplayVideo from './ArtworkDisplayVideo.astro';

interface Props {
	artwork: Artwork;
	artworkContent?: any;
}

const { artwork, artworkContent } = Astro.props;
const { slug } = artwork;

let Content;
if (artworkContent) {
	const { Content: MarkdownContent } = await artworkContent.render();
	Content = MarkdownContent;
}
---

<div class="h-full bg-neutral-50" id="artwork-info">
	<div class="h-full overflow-auto py-8 pr-8 pl-12">
		{
			Content && (
				<div class="prose prose-sm prose-h2:text-base prose-h3:text-sm prose-p:text-sm prose-a:text-accent hover:prose-a:underline prose-strong:font-semibold max-w-none">
					<Content />
				</div>
			)
		}
	</div>
</div>
