---
import type { Artwork } from '@/constants/artworks';
import OcticonCheckCircleFill16 from '@/icons/OcticonCheckCircleFill16.astro';

interface Props {
	artwork: Artwork;
}

const { artwork } = Astro.props;
const { title, author, slug, year } = artwork;
---

<li class="border-lines relative flex break-inside-avoid border-b">
	<a href={`/${slug}`} class="group flex items-center gap-3 py-3">
		<div class="flex items-center gap-2">
			<p
				class="group-hover:text-accent relative font-semibold transition-colors duration-200 ease-out"
			>
				{title}
			</p>
			<p class="text-sm text-gray-500">({author}, {year})</p>
			<div class="text-accent hidden group-[.visited]:block">
				<OcticonCheckCircleFill16 />
			</div>
		</div>
	</a>
</li>
