---
import type { Artwork } from '@/constants/artworks';
import OcticonCheckCircleFill16 from '@/icons/OcticonCheckCircleFill16.astro';

interface Props {
	artwork: Artwork;
}

const { artwork } = Astro.props;
const { title, author, slug, year } = artwork;
---

<li class="border-lines relative flex break-inside-avoid border-b w-full overflow-clip">
	<a href={`/${slug}`} class="group flex items-center gap-3 py-3">
		<div class="flex items-center gap-2">
			<div class="flex items-center gap-x-2 flex-wrap">
				<p
					class="group-hover:text-accent relative font-semibold transition-colors duration-200 ease-out whitespace-nowrap"
				>
					{title}
				</p>
				<p class="text-sm text-gray-500 whitespace-nowrap truncate">({author}, {year})</p>
			</div>
			<div class="text-accent hidden group-[.visited]:block">
				<OcticonCheckCircleFill16 />
			</div>
		</div>
	</a>
</li>
