---
import { type Artwork } from '@/constants/artworks';
import ArtworkDisplayVideo from './ArtworkDisplayVideo.astro';
import ArtworkDisplayGallery from './ArtworkDisplayGalleryAlt.astro';
import ArtworkDisplayInteractive from './ArtworkDisplayInteractive.astro';

interface Props {
	artwork: Artwork;
}

const { artwork } = Astro.props;
---

<div>
	{
		artwork.metadata.type == 'image' && (
			<ArtworkDisplayGallery metadata={artwork.metadata} />
		)
	}
	{
		artwork.metadata.type === 'interactive' && (
			<ArtworkDisplayInteractive artwork={artwork} />
		)
	}
	{
		artwork.metadata.type === 'video' && (
			<ArtworkDisplayVideo
				metadata={artwork.metadata}
				title={artwork.title}
			/>
		)
	}
</div>
