---
interface Props {
	label: string;
	id?: string;
}

const { id, label, ...rest } = Astro.props;
---

<button
	id={id}
	aria-label={label}
	class="border-lines hover:bg-accent hover:border-accent [.active]:bg-accent [.active]:border-accent flex cursor-pointer items-center rounded-full border p-2 hover:text-gray-50 [.active]:text-gray-50"
	{...rest}
>
	<slot />
</button>
