---
interface Props {
	text: string;
	id?: string;
}

const { id, text } = Astro.props;

const hasPrepend = Astro.slots.has('prepend');
const hasAppend = Astro.slots.has('append');
---

<button
	id={id}
	class="border-lines hover:bg-accent hover:border-accent [.active]:bg-accent [.active]:border-accent flex items-center gap-2 rounded-full border px-5 py-1 font-bold lowercase hover:text-gray-50 [.active]:text-gray-50"
>
	{
		hasPrepend && (
			<span class="-ml-2">
				<slot name="prepend" />
			</span>
		)
	}
	{text}
	{
		hasAppend && (
			<span class="-mr-2">
				<slot name="append" />
			</span>
		)
	}
</button>
