---
import Logo from '@/components/Logo.astro';
import OcticonArrowRight16 from '@/icons/OcticonArrowRight16.astro';
import ButtonText from './ButtonText.astro';
import ButtonIcon from './ButtonIcon.astro';

interface Props {
	buttonNextId?: string;
}

const { buttonNextId = 'next-artwork' } = Astro.props;
---

<header class="flex items-end justify-between px-6 py-3 pb-4">
	<div class="text-accent text-2xl">
		<Logo />
	</div>
	<div class="text-lg">
		<!-- <ButtonText id={buttonNextId} text='Next Artwork'>
			<OcticonArrowRight16 slot="append" />
		</ButtonText> -->
		<ButtonIcon label="Next Artwork" id={buttonNextId}>
			<OcticonArrowRight16 />
		</ButtonIcon>
	</div>
</header>
